/* ------------ GENERAL ------------ */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Mali&family=Patrick+Hand&display=swap');

$header-color: rgb(39, 39, 39);
$text-color: #16b1c7;
$normal-shadow-color: #f5ec3a;
$theme-shadow-color: #83c543;
$header-height: 10rem;

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

.App {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none !important;
}

/* ------------ HEADER ------------ */

header {
  background-color: $header-color;
  font-family: 'Indie Flower', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  height: 10rem;

  h1 {
    font-size: 5rem;
    color: rgb(225, 225, 225);
    text-shadow: 1px 1px 1px $theme-shadow-color;
  }

  h2 {
    font-size: 2.75rem;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px 1px black;
    font-family: 'Patrick Hand', sans-serif;
    color: rgb(225, 225, 225);
  }

  h3 {
    font-size: 3.3rem;
    color: $text-color;
  }

  .inline-score {
    @include flexCenter();
    gap: 2rem;
    position: relative;
    width: 25rem;
    height: 5rem;
    h3 {
      position: absolute;
      left: 0;
    }
    p {
      position: absolute;
      right: 0;
      font-size: 5rem;
      color: white;
      animation: 0.7s ease-in zoom-in;
    }
  }

  #display {
    animation: 1s ease-in fade-in;
  }
}

/* ------------ CARDBOARD ------------ */

#videoboard,
#cardboard,
#menu {
  background: url(../images/wallpaper.jpg) no-repeat center center
    fixed;
  background-size: cover;
}

#menu-container {
  padding: 5rem;
  text-align: center;
  font-family: 'Mali', sans-serif;
  color: white;
  font-size: 2rem;
  margin: auto 0;
  @include flexCenter();
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 50%;
  background-color: rgba(39, 39, 39, 0.96);
  border-radius: 20px;
  position: relative;
  animation: 0.5s ease scale-up;

  img {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
  }

  span {
    font-size: 2.5rem;
  }

  #delayed-text {
    @include flexColumn();
    gap: 3rem;
    align-items: center;
    position: absolute;
    top: 15%;
    right: 0;
    width: 50%;
  }
  #play--btn {
    @include flexCenter();
    height: 8rem;
    width: 15rem;
    border: 2px solid rgb(225, 225, 225);
    box-shadow: 3px 5px 1px rgb(150, 150, 150);
    text-transform: uppercase;
    border-radius: 40px;
    transition: all 0.3s ease;
    animation: 0.5s ease-in scale-up;
    position: absolute;
    bottom: 10%;
    right: 15%;

    &:hover {
      cursor: pointer;
      transform: translate(2px, 3px);
      box-shadow: 2px 2px 1px rgb(119, 119, 119);
    }

    &:active {
      background-color: $theme-shadow-color;
      transform: translate(4px, 5px);
      box-shadow: 1px 1px 1px rgb(119, 119, 119);
    }
  }
}

#videoboard,
#menu {
  height: calc(100vh - $header-height);
  width: 100%;
  @include flexColumn();
  align-items: center;
}

#video-container {
  margin: auto 0;
  @include flexColumn();
  align-items: center;
  height: 80%;
  width: 70%;
  background-color: #84c543d5;
  border-radius: 20px;
  animation: 0.5s ease scale-up;

  h1 {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 5rem;
    color: white;
    text-shadow: 1px 1px 1px black;
  }
}

#play-again {
  padding: 5rem;
  text-align: center;
  font-family: 'Patrick Hand', sans-serif;
  color: white;
  font-size: 2rem;
  margin: auto 0;
  @include flexColumn();
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  background-color: $header-color;
  border-radius: 20px;
  animation: 0.5s ease slide-in;

  #play-again--btn {
    @include flexCenter();
    margin: auto 0;
    height: 33%;
    width: 33%;
    border-radius: 50px;
    text-transform: uppercase;
    border: 2px solid rgb(176, 176, 176);
    box-shadow: 3px 5px 1px rgb(119, 119, 119);
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      transform: translate(2px, 3px);
      box-shadow: 2px 2px 1px rgb(119, 119, 119);
    }

    &:active {
      background-color: $theme-shadow-color;
      transform: translate(4px, 5px);
      box-shadow: 1px 1px 1px rgb(119, 119, 119);
    }
  }
}

#cardboard {
  height: 100%;
  width: 100%;
  padding: 10rem;
  @include flexCenter();
  gap: 3rem;
  flex-wrap: wrap;
}

.card {
  font-family: 'Mali', sans-serif;
  height: 250px;
  width: 250px;
  background-color: $header-color;
  border-top: 2rem solid $header-color;
  border-left: 2rem solid $header-color;
  border-right: 2rem solid $header-color;
  box-shadow: 5px 5px 1px $theme-shadow-color;
  border-radius: 20px;
  transition: all ease 0.3s;

  &:hover {
    cursor: pointer;
    transform: translate(-3px, 3px);
    box-shadow: 8px 8px 1px $text-color;
    p {
      color: $text-color;
    }
  }

  &:active p {
    color: #f5ec3a;
  }

  img {
    height: 80%;
    width: 100%;
  }

  p {
    font-size: 2rem;
    margin-top: 1rem;
    color: white;
    text-align: center;
  }
}

#overlay-video {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.335);
  @include flexCenter();
}

/* ------------ ANIMATION ------------ */

@keyframes zoom-in {
  0% {
    transform: scale(3.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(-200%);
  }
  50% {
    transform: translateY(50%);
  }
  60% {
    transform: translateY(-25%);
  }
  70% {
    transform: translateY(25%);
  }
  80% {
    transform: translateY(-10%);
  }
  90% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
